/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/resources/public/js
/out
/.repl
yaks
.DS_Store
.idea
.repl*
resources/public/advanced
resources/public/images/apartment
resources/public/models/*.dae
resources/public/models/apartment_2/**
resources/public/models/corner_couch
